<section id="hero">
    <div class="hero-container">
        <h1>Aguarde 2018... Novidades estão por vir!</h1>
        <h2>Site em construção</h2>
        <a href="~/Views/Home/About.cshtml" class="btn-get-started">Portifólio 2017</a>
    </div>
</section><!-- #hero -->