<section id="hero">
    <div class="hero-container">
        <h1>
            Aguarde 2018...
        </h1>
        <h2>Novidades estão por vir!</h2>


        <h2>Site em construção</h2>
        <a href="~/Views/Home/About.cshtml" class="btn-get-started">Portifólio 2017</a>
    </div>
</section><!-- #hero -->

<main id="main">
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
            <div class="row about-container">
                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">Um pouco sobre a Belle Sáa</h2>
                    
                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                        <h4 class="title"><a href="">História</a></h4>
                        <p class="description">Cibelle Sá, a Belle, nasceu em Salgueiro, interior de Pernambuco e lá morou até seus 27 anos.</p>
                    </div>
                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-photo"></i></div>
                        <h4 class="title"><a href="">Formação</a></h4>
                        <p class="description">Além de diversos cursos de fotografia, Belle está concluindo a graduação de administração pela Universidade Federal Rural de Pernambuco, na sede da Unidade Acadêmica de Serra Talhada.</p>
                    </div>
                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">Inicio da carreira</a></h4>
                        <p class="description">A dois anos se dedicando ao mundo fotográfico, Belle Sáa tournou-se referência em competência e qualidade na cidade de Salgueiro e região e agora em Recife, irá mostrar seu trabalho de qualidade.</p>
                    </div>
                </div>
                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
            </div>
        </div>
    </section><!-- #about -->
</main>